.search {
  margin: 40px 0px;
  display: flex;
  justify-content: flex-start;
  justify-items: start;
}
.search input {
  width: 50%;
  height: 40%;
  border-radius: 20px;
  border: 1px solid rgb(26, 20, 112);
  color: rgb(21, 155, 92);
  padding: 8px 0 8px 10px;
  margin-right: 10px;
}
